* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    width: 480px;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #333333, -14px -14px 20px #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #242424;
    flex: 1;
    padding-bottom: 2rem; 
}

#logo img {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

textarea {
    resize: none;
    height: 250px;
    width: 85%;
    margin: auto;
    padding: 7px;
    background: none;
    border: none;
    outline: none;
    box-shadow: inset 6px 6px 6px #333333, inset -6px -6px 6px #333333;
    margin-bottom: 0.5rem;
    color: #ffffff;
    transition: box-shadow 0.3s ease;
}

#name, #type {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

label {
    margin-bottom: 0.2rem;
    color: #ffffff;
}

input, select {
    margin-top: 0.2rem;
    padding: 4px;
    box-shadow: inset 3px 3px 3px #333333, inset -3px -3px 3px #333333;
    border: none;
    outline: none;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    transition: box-shadow 0.3s ease;
}

#btn {
    height: 2rem;
    width: 40%;
    border-radius: 7px;
    margin: 1rem auto;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #333333, -3px -3px 5px #333333;
    font-size: 20px;
    transition: 0.2s all;
    pointer-events: none;
    color: #ffffff;
}

#btn:hover {
    transform: scale(0.97);
    background-color: #ffd700;
    color: #242424;
}

textarea:valid~#btn {
    pointer-events: auto;
}

textarea:hover,
input:hover,
select:hover {
    box-shadow: inset 8px 8px 8px #333333, inset -8px -8px 8px #333333;
}
.dark-theme {
    background-color: #242424;
    color: #ffffff;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #888;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  
  .heart::before {
    content: "\2665";
    color: #e74c3c;
  }
